html, body {
    word-break: break-all;
    margin-bottom: 50px;
}

.custom-control-label.py-1::before,
.custom-control-label.py-1::after {
    top: .5rem;
}
.horizontal-button-list > :not(:last-child) {
    margin-right: .25rem;
}
.progress {
    height: initial;
    font-size: initial;
}
/* localization */
[data-string] {
    white-space: pre-line;
}

/* list header */
#finished-delete-button {
    cursor: pointer;
}

/* template */
#download-item-template, #source-item-template {
    display: none;
}

/* sample */
#dl-single-filename-sample::before,
#dl-single-location-sample::before,
#dl-multiple-location-sample::before,
#dl-source-filename-sample::before,
#dl-source-location-sample::before {
    content: 'Sample: ';
}

/* item-status */
.item-status > * {
    width: 1.25rem;
    text-align: center;
}
.item-status > :not(:last-child) {
    margin-right: .25rem;
}
.item-status > :not(:first-child) {
    display: none;
    cursor: pointer;
}
.item-status:hover > :hover {
    font-size: 1.25rem;
}
.download-item .item-status > :first-child {
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-rendering: auto;
    line-height: 1;
}
.download-item[data-status="downloading"] .item-status > :first-child::before {
    content: '\f04b';
}
.download-item[data-status="paused"] .item-status > :first-child::before {
    content: '\f04c';
}
.download-item[data-status="downloaded"] .item-status > :first-child::before {
    content: '\f063';
}
.download-item[data-status="waiting"] .item-status > :first-child::before {
    content: '\f04d';
}
.download-item[data-status="finished"] .item-status > :first-child::before {
    content: '\f00d';
}
.download-item[data-status="finished"][data-reason="complete"] .item-status > :first-child::before {
    content: '\f00c';
}
.download-item:focus .item-status > :first-child {
    display: none;
}
.download-item .item-status:hover > :first-child {
    display: none;
}
.download-item:focus .item-status > .item-info-button {
    display: inline;
}
.download-item .item-status:hover > .item-info-button {
    display: inline;
}
#downloading-list .download-item:focus .item-status > .item-stop-button,
#waiting-list .download-item:focus .item-status > .item-stop-button {
    display: inline;
}
#downloading-list .download-item .item-status:hover > .item-stop-button,
#waiting-list .download-item .item-status:hover > .item-stop-button {
    display: inline;
}
#downloading-list .download-item[data-status="downloading"]:focus .item-status > .item-pause-button {
    display: inline;
}
#downloading-list .download-item[data-status="downloading"] .item-status:hover > .item-pause-button {
    display: inline;
}
#downloading-list .download-item[data-status="paused"]:focus .item-status > .item-resume-button {
    display: inline;
}
#downloading-list .download-item[data-status="paused"] .item-status:hover > .item-resume-button {
    display: inline;
}
#finished-list .download-item:focus .item-status > .item-redo-button,
#finished-list .download-item:focus .item-status > .item-delete-button {
    display: inline;
}
#finished-list .download-item .item-status:hover > .item-redo-button,
#finished-list .download-item .item-status:hover > .item-delete-button {
    display: inline;
}

/* progress */
#downloading-list .progress-bar {
    animation: progress-bar-stripes 1s linear infinite;
}

/* confirm modal */
#confirm-dialog .modal-body {
    white-space: pre-wrap;
}

/* download-detail modal */
#download-detail[data-status="downloading"] #detail-status-progress {
    animation: progress-bar-stripes 1s linear infinite;
}
#detail-stop-button,
#detail-pause-button,
#detail-resume-button,
#detail-redo-button {
    display: none;
}
#download-detail[data-status="finished"] #detail-redo-button {
    display: block;
}
#download-detail[data-status="downloading"] #detail-stop-button,
#download-detail[data-status="downloading"] #detail-pause-button {
    display: block;
}
#download-detail[data-status="paused"] #detail-stop-button,
#download-detail[data-status="paused"] #detail-resume-button {
    display: block;
}
#detail-status-detail {
    flex-wrap: wrap;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}
#detail-status-detail .detail-tile {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.5px solid lightgray;
}
#detail-status-detail .detail-tile[data-status="loaded"] {
    background: linear-gradient(to bottom right, #20a0ff, #007bff);
}
#detail-status-detail .detail-tile[data-status="unknown"] {
    background: linear-gradient(to bottom right, #ffd030, #ffc107);
}

/* source-download modal */
#source-list {
    font-size: 90%;
}
#source-download-button1::after,
#source-download-button2::after {
    content: ' (' attr(data-count) ')';
}
button[data-target="#byTagname"]::after,
button[data-target="#byFiletype"]::after,
button[data-target="#byKeyword"]::after,
button[data-target="#source-download-option"]::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    padding-left: .5em;
}
button[data-target="#byTagname"][aria-expanded="false"]::after,
button[data-target="#byFiletype"][aria-expanded="false"]::after,
button[data-target="#byKeyword"][aria-expanded="false"]::after,
button[data-target="#source-download-option"][aria-expanded="false"]::after {
    content: "\f0d7";
}
button[data-target="#byTagname"][aria-expanded="true"]::after,
button[data-target="#byFiletype"][aria-expanded="true"]::after,
button[data-target="#byKeyword"][aria-expanded="true"]::after,
button[data-target="#source-download-option"][aria-expanded="true"]::after {
    content: "\f0d8";
}
#sort-url,
#sort-filetype,
#sort-tag {
    cursor: pointer;
}
#sort-url::after,
#sort-filetype::after,
#sort-tag::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    padding-left: .5em;
}
#sort-url[data-order=""]::after,
#sort-filetype[data-order=""]::after,
#sort-tag[data-order=""]::after {
    content: "\f0dc";
}
#sort-url[data-order="asc"]::after,
#sort-filetype[data-order="asc"]::after,
#sort-tag[data-order="asc"]::after {
    content: "\f0de";
}
#sort-url[data-order="desc"]::after,
#sort-filetype[data-order="desc"]::after,
#sort-tag[data-order="desc"]::after {
    content: "\f0dd";
}

.source-item::before {
    position: absolute;
    font-family: "Font Awesome 5 Free"; font-weight: 400;
    top: .3em;
    content: '\f15b';
}
.source-item[data-filetype="wav"]::before,
.source-item[data-filetype="mp3"]::before,
.source-item[data-filetype="wma"]::before,
.source-item[data-filetype="aac"]::before,
.source-item[data-filetype="flac"]::before,
.source-item[data-filetype="alac"]::before,
.source-item[data-filetype="mid"]::before,
.source-item[data-filetype="midi"]::before,
.source-item[data-filetype="aif"]::before,
.source-item[data-filetype="aiff"]::before,
.source-item[data-filetype="aifc"]::before,
.source-item[data-filetype="afc"]::before {
    content: '\f1c7';
}
.source-item[data-filetype="mpg"]::before,
.source-item[data-filetype="mpeg"]::before,
.source-item[data-filetype="mp4"]::before,
.source-item[data-filetype="avi"]::before,
.source-item[data-filetype="ts"]::before,
.source-item[data-filetype="mov"]::before,
.source-item[data-filetype="wmv"]::before,
.source-item[data-filetype="asf"]::before {
    content: '\f1c8';
}
.source-item[data-filetype="png"]::before,
.source-item[data-filetype="jpg"]::before,
.source-item[data-filetype="jpeg"]::before,
.source-item[data-filetype="gif"]::before,
.source-item[data-filetype="bmp"]::before,
.source-item[data-filetype="ico"]::before {
    content: '\f1c5';
}
.source-item[data-filetype="zip"]::before,
.source-item[data-filetype="lhz"]::before,
.source-item[data-filetype="cab"]::before,
.source-item[data-filetype="tar"]::before,
.source-item[data-filetype="gz"]::before,
.source-item[data-filetype="tgz"]::before,
.source-item[data-filetype="hqx"]::before,
.source-item[data-filetype="sit"]::before {
    content: '\f1c6';
}
.source-item[data-filetype="pdf"]::before {
    content: '\f1c1';
}
.source-item[data-filetype="doc"]::before,
.source-item[data-filetype="docx"]::before,
.source-item[data-filetype="docm"]::before {
    content: '\f1c2';
}
.source-item[data-filetype="xls"]::before,
.source-item[data-filetype="xlsx"]::before,
.source-item[data-filetype="xlsm"]::before {
    content: '\f1c3';
}
.source-item[data-filetype="ppt"]::before,
.source-item[data-filetype="pptx"]::before,
.source-item[data-filetype="pptm"]::before {
    content: '\f1c4';
}
.source-item[data-filetype="html"]::before,
.source-item[data-filetype="htm"]::before,
.source-item[data-filetype="js"]::before,
.source-item[data-filetype="css"]::before,
.source-item[data-filetype="bat"]::before,
.source-item[data-filetype="com"]::before,
.source-item[data-filetype="ps"]::before,
.source-item[data-filetype="vbs"]::before,
.source-item[data-filetype="sh"]::before {
    content: '\f1c9';
}
.source-item[data-filetype="txt"]::before,
.source-item[data-filetype="rtf"]::before {
    content: '\f15c';
}

.source-item .source-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 576px) {
    #new-download > .modal-dialog,
    #download-detail > .modal-dialog {
        max-width: 80%;
    }
    #source-download > .modal-dialog {
        max-width: 95%;
    }
}
