html {
    font-size: initial;
}
body {
    font-size: 90%;
}
h2 {
    margin-bottom: .5em;
}
h2:not(:first-child) {
    margin-top: .75em;
}
.tooltip {
    white-space: pre-wrap;
}

/* .server-parameter */
.server-parameter:last-of-type .server-parameter-delete {
    visibility: hidden;
}
input.form-check-input.server-parameter-box {
    width: 2em;
    height: 2em;
}
/* .authentication-parameter */
.authentication-parameter:last-of-type .authentication-parameter-delete {
    visibility: hidden;
}
input.form-check-input.authentication-parameter-box {
    width: 2em;
    height: 2em;
}
/* localization */
[data-string] {
    white-space: pre-line;
}

/* sample */
#download-location-sample::before {
    content: 'Sample: ';
}
