html {
    font-size: initial;
}
body {
    font-size: 90%;
}
h2 {
    margin-bottom: .5em;
}
h2:not(:first-child) {
    margin-top: .75em;
}

.form-control.server-parameter-box.server-simultaneous,
.form-control.server-parameter-box.server-split-count {
    padding-left: .25em;
    padding-right: 0;
    background: none;
}

/* localization */
[data-string] {
    white-space: pre-line;
}

/* sample */
#download-location-sample::before {
    content: 'Sample: ';
}
